:root,:host{
  --mdui-color-primary-light: 0, 97, 164;
  --mdui-color-on-primary-light: 255, 255, 255;
  --mdui-color-primary-container-light: 209, 228, 255;
  --mdui-color-on-primary-container-light: 0, 29, 54;
  --mdui-color-secondary-light: 83, 95, 112;
  --mdui-color-on-secondary-light: 255, 255, 255;
  --mdui-color-secondary-container-light: 215, 227, 248;
  --mdui-color-on-secondary-container-light: 16, 28, 43;
  --mdui-color-tertiary-light: 107, 87, 120;
  --mdui-color-on-tertiary-light: 255, 255, 255;
  --mdui-color-tertiary-container-light: 243, 218, 255;
  --mdui-color-on-tertiary-container-light: 37, 20, 49;
  --mdui-color-error-light: 186, 26, 26;
  --mdui-color-on-error-light: 255, 255, 255;
  --mdui-color-error-container-light: 255, 218, 214;
  --mdui-color-on-error-container-light: 65, 0, 2;
  --mdui-color-background-light: 253, 252, 255;
  --mdui-color-on-background-light: 26, 28, 30;
  --mdui-color-surface-light: 253, 252, 255;
  --mdui-color-on-surface-light: 26, 28, 30;
  --mdui-color-surface-variant-light: 223, 226, 235;
  --mdui-color-on-surface-variant-light: 67, 71, 78;
  --mdui-color-outline-light: 115, 119, 127;
  --mdui-color-outline-variant-light: 195, 198, 207;
  --mdui-color-shadow-light: 0, 0, 0;
  --mdui-color-scrim-light: 0, 0, 0;
  --mdui-color-inverse-surface-light: 47, 48, 51;
  --mdui-color-inverse-on-surface-light: 241, 240, 244;
  --mdui-color-inverse-primary-light: 159, 202, 255;
  --mdui-color-surface-dim-light: 218, 218, 221;
  --mdui-color-surface-bright-light: 250, 249, 252;
  --mdui-color-surface-container-lowest-light: 255, 255, 255;
  --mdui-color-surface-container-low-light: 244, 243, 247;
  --mdui-color-surface-container-light: 238, 237, 241;
  --mdui-color-surface-container-high-light: 232, 232, 235;
  --mdui-color-surface-container-highest-light: 226, 226, 230;
  --mdui-color-surface-tint-color-light: 0, 97, 164;
  --mdui-color-primary-dark: 159, 202, 255;
  --mdui-color-on-primary-dark: 0, 50, 88;
  --mdui-color-primary-container-dark: 0, 73, 125;
  --mdui-color-on-primary-container-dark: 209, 228, 255;
  --mdui-color-secondary-dark: 187, 199, 219;
  --mdui-color-on-secondary-dark: 37, 49, 64;
  --mdui-color-secondary-container-dark: 59, 72, 88;
  --mdui-color-on-secondary-container-dark: 215, 227, 248;
  --mdui-color-tertiary-dark: 215, 190, 228;
  --mdui-color-on-tertiary-dark: 59, 41, 72;
  --mdui-color-tertiary-container-dark: 82, 63, 95;
  --mdui-color-on-tertiary-container-dark: 243, 218, 255;
  --mdui-color-error-dark: 255, 180, 171;
  --mdui-color-on-error-dark: 105, 0, 5;
  --mdui-color-error-container-dark: 147, 0, 10;
  --mdui-color-on-error-container-dark: 255, 180, 171;
  --mdui-color-background-dark: 26, 28, 30;
  --mdui-color-on-background-dark: 226, 226, 230;
  --mdui-color-surface-dark: 26, 28, 30;
  --mdui-color-on-surface-dark: 226, 226, 230;
  --mdui-color-surface-variant-dark: 67, 71, 78;
  --mdui-color-on-surface-variant-dark: 195, 198, 207;
  --mdui-color-outline-dark: 141, 145, 153;
  --mdui-color-outline-variant-dark: 67, 71, 78;
  --mdui-color-shadow-dark: 0, 0, 0;
  --mdui-color-scrim-dark: 0, 0, 0;
  --mdui-color-inverse-surface-dark: 226, 226, 230;
  --mdui-color-inverse-on-surface-dark: 47, 48, 51;
  --mdui-color-inverse-primary-dark: 0, 97, 164;
  --mdui-color-surface-dim-dark: 18, 19, 22;
  --mdui-color-surface-bright-dark: 56, 57, 60;
  --mdui-color-surface-container-lowest-dark: 13, 14, 17;
  --mdui-color-surface-container-low-dark: 0,0,0;
  --mdui-color-surface-container-dark: 30, 32, 34;
  --mdui-color-surface-container-high-dark: 40, 42, 45;
  --mdui-color-surface-container-highest-dark: 51, 53, 56;
  --mdui-color-surface-tint-color-dark: 159, 202, 255;
}

